@font-face
  font-style: normal
  font-family: "Meslo LG"
  src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "unifrak"
  src: local("unifrak"), url("../lib/font-awesome/webfonts/unifrak.ttf") format("truetype")
